[Unit]
Description=OneTime FrontEnd
After=network.target

[Service]
Type=simple
User=nginx
WorkingDirectory=/usr/local/bin/go_onetime
ExecStart=/usr/local/bin/go_onetime/1time
Restart=always

[Install]
WantedBy=multi-user.target
